body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #76BA99;
}

.container {
    background-color: #76BA99;
    color: white;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.container-checkbox {
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.container-input {
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.file-input input[type="file"]::-webkit-file-upload-button {
    color: #76BA99;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: #76BA99;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin-left: 76.5px;
    width: 100px;
}

.file-input input[type="file"] {
    color: transparent;
}

#camera-button {
    background-color: #ffffff;
    color: #76BA99;
    border-radius: 5px;
    border-color: #76BA99;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    width: 100px;
}



#image-preview,
#result-box {
    margin-bottom: 10px;
    max-width: 80%;
    height: auto;
}

#check-button{
    background-color: #ffffff;
    color: #76BA99;
    border-radius: 5px;
    border-color: #76BA99;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    width: 150px;
}

#image-preview img {
    max-width: 100%;
    height: auto;

}

#result-box{
    background-color: #76BA99;
    color: #ffffff;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.container-view{
    display: flex;
    flex-direction: row;
}

#reset-button{
    background-color: #ffffff;
    color: #76BA99;
    border-radius: 5px;
    border-color: #76BA99;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    margin-right: 2px;
}

#view-more{
    background-color: #ffffff;
    color: #76BA99;
    border-radius: 5px;
    border-color: #76BA99;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    margin-left: 2px;
}

#back-button {
    background-color: #ffffff;
    color: #76BA99;
    border-radius: 5px;
    border-color: #ffffff00;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: large;
    margin-top: 30px;
}

.capture-button{
    background-color: #ffffff;
    color: #76BA99;
    border-radius: 5px;
    border-color: #76BA99;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    margin: 2px;
}

.close-button{
    background-color: #ffffff;
    color: #76BA99;
    border-radius: 5px;
    border-color: #76BA99;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    margin: 2px;
}